// @import '~styles/config/_colors.scss';
// @import '~styles/config/_vars.scss';
// @import '~styles/_typography.scss';
// @import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.project-card {
  &__container {
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 5px;
    border: solid black 1px;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  // @include breakpoint($bp--md) {
  //   &__container {
  //     border: none;
  //   }
  // }
}
