// =============================================================================
// Open Sans
// =============================================================================

@font-face {
  font-family: 'Open Sans Light';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-300.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-300italic.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-300italic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-regular.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-regular.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-italic.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-italic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-700.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url('../assets/fonts/open-sans/open-sans-v17-latin-700italic.woff2')
      format('woff2'),
    url('../assets/fonts/open-sans/open-sans-v17-latin-700italic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
}

// @mixin Graphik-Extralight {
//   font-family: 'Graphik Extralight', sans-serif;
// }

// @mixin Graphik-Extralight-italic {
//   font-family: 'Graphik Extralight Italic', sans-serif;
// }

// @mixin Graphik-Light {
//   font-family: 'Graphik Light', sans-serif;
// }

// @mixin Graphik-Regular {
//   font-family: 'Graphik Regular', sans-serif;
// }

// @mixin Graphik-Regular-Italic {
//   font-family: 'Graphik Regular Italic', sans-serif;
// }

// @mixin Graphik-Bold {
//   font-family: 'Graphik Semibold', Sans-serif;
// }
