// @mixin hero-headline {
//   font-size: 75px;
//   line-height: 75px;
//   text-transform: uppercase;
// }
@mixin h1 {
  border: none;
}
@mixin h2 {
  border: none;
}
@mixin Body {
  border: none;
}
@mixin NavLink {
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
  cursor: pointer;
}
@mixin Button {
  font-size: 20px;
  font-family: 'Open Sans Regular', sans-serif;
  cursor: pointer;
}
@mixin Link {
  border: none;
}
@mixin Label {
  border: none;
}
@mixin List {
  border: none;
}
@mixin Suggested {
  border: none;
}
@mixin Post {
  border: none;
}

@mixin BrandIcon {
  color: $white;
  text-transform: uppercase;
  font-family: 'Rustproof Body', sans-serif;
  font-size: 35px;
  letter-spacing: -2px;
  color: $white;
  -webkit-text-stroke: $black 1px;
}
