// @mixin hero-headline {
//   font-size: 75px;
//   line-height: 75px;
//   text-transform: uppercase;
// }
@mixin h1 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 32px;
  line-height: 38px;
}
@mixin h2 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 1.5em;
  line-height: 28px;
}
@mixin h3 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 1.17em;
  line-height: 28px;
}
@mixin h4 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 1em;
  line-height: 28px;
}
@mixin Body {
  font-size: 18px;
}
@mixin NavLink {
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
  padding: 0 5px;
  width: 60px;
  color: $light-grey;
  text-decoration: none;
  transition: color 300ms linear;
  transition: color 300ms linear;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: $medium-grey;
    transition: color 300ms linear;
  }
}
@mixin NavLinkActive {
  font-size: 16px;
  font-family: 'Open Sans Bold', sans-serif;
  color: $white;
  cursor: pointer;
  transition: color 300ms linear;
  &:hover {
    color: $white;
    transition: color 300ms linear;
  }
}
@mixin Button {
  font-size: 20px;
  font-family: 'Open Sans Regular', sans-serif;
  cursor: pointer;
}
@mixin Link {
  border: none;
}
@mixin Label {
  border: none;
}
@mixin List {
  border: none;
}
@mixin Suggested {
  border: none;
}
@mixin Post {
  border: none;
}
