// @mixin hero-headline {
//   font-size: 75px;
//   line-height: 75px;
//   text-transform: uppercase;
// }
@mixin h1 {
  border: none;
}
@mixin h2 {
  border: none;
}
@mixin Body {
  border: none;
}
@mixin Link {
  border: none;
}
@mixin Label {
  border: none;
}
@mixin List {
  border: none;
}
@mixin Suggested {
  border: none;
}
@mixin Post {
  border: none;
}
