@import '~styles/config/_colors.scss';

.brands {
  &__container {
    &__logo-inner {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 90vw;
      justify-content: center;
      &__brand-group {
        display: flex;
        justify-content: center;
      }
    }
  }
}
