// Organizational Base Styles
@import './styles/index';

// Component styles
@import './components/components';

// Component styles
@import './styles/_fonts.scss';

// // Module Styles
// @import './modules/modules';
* {
  margin: 0;
  padding: 0;
}
body {
  display: block !important;
  font-family: 'Open Sans Regular' !important;
}
html,
body {
  overflow-x: hidden;
}
