@import '~styles/config/_colors.scss';
@import '~styles/config/_vars.scss';

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    padding: $body-padding;
    background-color: $dark-grey2;
    &__links {
      display: flex;
      justify-content: center;
      &__link {
        padding: 10px;
        img {
          height: 35px;
          width: 35px;
          filter: invert(1);
          &:hover {
            filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
          }
        }
      }
    }
    &__bottom {
      text-align: center;
      display: flex;
      flex-direction: column;
      &__copyright {
        display: inline-block;
        padding-bottom: 10px;
      }
    }
  }
}
