@import '~styles/config/_colors.scss';
@import '~styles/config/_vars.scss';
@import '~styles/_typography.scss';

.about {
  &__container {
    background-color: $dark-grey2;
    &__cover-image {
      min-height: 25vh;
    }
    &__inner {
      &__about-info,
      &__skills {
        padding: $body-padding;
      }
      &__about-info {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__headline {
          margin-bottom: 20px;
          display: inline-block;
          background: $black;
          padding: 20px 30px 20px 50px;
          left: -50px;
          position: relative;
          transform: skew(-20deg);
          z-index: 1;
          &__inner {
            transform: skew(20deg);
          }
        }
        &__body {
          @include Body;
        }
      }
      &__skills {
        display: flex;
        padding-top: 20px;
        background-color: $black;
        ul {
          list-style: none;
        }
      }
    }
  }
}
