@import '~styles/config/_colors.scss';
@import '~styles/typography.scss';

.nav {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 25px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, $black, transparent);
    z-index: 1;
  }
  &__nav-link {
    padding: 0 5px;
    color: $white;
    text-decoration: none;
    @include NavLink;
  }
  &__brand-logo {
    color: $white;
    display: initial;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rustproof Body', sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    color: $white;
    -webkit-text-stroke: $black 1px;
  }
  &__right {
    display: flex;
  }
}
