// Semantic Color variables
$black: #000;
$white: #fff;
$grey: #c2c2c2;
$error-red: #e00;
$alert-red: #ef0703;
$success-green: #00b200;
$warning-yellow: #ffcd19;

$dark-grey: #555555;
$medium-grey: #999999;
$medium-grey2: #cacaca;
$light-grey: #f3f3f3;

$gradient-blue-red: linear-gradient(#001fff, #ff0020);
$gradient-blue-purple: linear-gradient(#001fff, #770095);
