@import '~styles/config/_colors.scss';
@import '~styles/config/_vars.scss';
@import '~styles/_typography.scss';
@import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.callout {
  &__container {
    display: flex;
    div {
      width: 50%;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 200px;
      &__headline {
        @include h3;
      }
      &__subcopy {
        @include h2;
      }
    }
    &__image {
      position: relative;
      overflow: hidden;
      padding-top: 50.25%;
      &__resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: transparent;
      }
    }
    @include breakpoint($bp--md) {
      flex-direction: column-reverse;
      div {
        width: 100%;
      }
      &__image {
        padding-top: 100.25%;
      }
    }
  }
}
