@import '~styles/config/_colors.scss';
@import '~styles/config/_vars.scss';
@import '~styles/_typography.scss';
@import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 75vh;
    position: relative;
    color: $white;
    margin: -25px -25px 0 -25px;
    &__content {
      display: flex;
      flex-direction: column;
      text-align: right;
      background: linear-gradient(to top, black, transparent);
      padding: 25px;
      &__headline {
        font-size: 75px;
        line-height: 75px;
        text-transform: uppercase;
      }
      &__subcopy {
        font-size: 38px;
      }
      &__link-container {
        font-size: 24px;
      }
    }
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
  @include breakpoint($bp--md) {
    &__container {
      &__content {
        &__headline {
          font-size: 56px;
          line-height: 56px;
        }
        &__subcopy {
          font-size: 24px;
        }
      }
    }
  }
}
